<template>
    <div class="card-wrapper" :card-index="cardData.index">
        <v-menu
            v-model="showMenu"
            :position-x="x"
            :position-y="y"
            :close-on-content-click="false"
            absolute
            offset-y
            >
            <span class="menu-cardname">{{ cardName }}</span>
            <v-list>
                <v-list-item>
                    <v-list-item-title>
                        <v-switch label="Visible" v-model="cardData.isVisible"></v-switch>
                    </v-list-item-title>
                </v-list-item>
                <v-list-item v-if="cardData.isFlippableCard">
                    <v-list-item-title>
                        <v-switch label="Flipped" v-model="cardData.isFlipped" />
                    </v-list-item-title>
                </v-list-item>
                <v-list-item v-if="cardData.isTurnableCard">
                    <v-list-item-title>
                        <v-switch label="Rotated" v-model="cardData.isRotated" />
                    </v-list-item-title>
                </v-list-item>
                <v-list-item v-if="cardData.isMeldableCard">
                    <v-list-item-title>
                        <v-switch label="Melded" v-model="cardData.isMelded" />
                    </v-list-item-title>
                </v-list-item>
                <v-list-item>
                    <v-list-item-title>
                        <v-btn block @click="openCardDetails">Open Details</v-btn>
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
        <div :class="{ card: true, tapped : cardData.isTapped, rotated : cardData.isRotated }" 
        @mouseover="bindEventHandler"
        @mouseleave="unbindEventHandler"
        >
            <div class="strength" v-if="cardData.isVisible && (basePower || baseToughness)">
                <span class="power">{{ basePower }}</span>/<span class="toughness">{{ baseToughness }}</span>
            </div>
            <div class="counter-container">
                <v-chip color="success" x-small class="counter" v-for="entry of Object.entries(cardData.counters).filter(c => !!+c[1])" :key="entry[0]">
                    {{ entry[1] }} X {{ entry[0] }}
                </v-chip>
            </div>
            <img class="card-image" :src="cardImageUrl" @dblclick="openCardDetails" @mousedown="storeCursorCoordinatesForFirefoxBug" @click="tapCard" @contextmenu="showCardMenu" />
        </div>
       <CardDetailsDialog v-model="showCardDetail" :cardData="cardData" />
    </div>
</template>

<script>
import Zones from '../enums/Zones';

import CardDetailsDialog from './dialogs/CardDetailsDialog';

export default {
    components: {
        CardDetailsDialog
    },
    data() {
        return {
            Zones,
            showMenu: false,
            showCardDetail: false,
            x: 0,
            y: 0,
            fireFoxBugX: 0,
            fireFoxBugY: 0
        }
    },
    watch: {

        /**
         * Check the change of Melded status, to switch power/toughness
         */
        isMelded(newValue) { 
            if(newValue) {
                this.cardData.basePower = this.cardData.data.melded.power;
                this.cardData.baseToughness = this.cardData.data.melded.toughness;
            } else {
                this.cardData.basePower = this.card.power;
                this.cardData.baseToughness = this.card.toughness;
            }
        }
    },
    props: {

        /**
         * Card data as used in this app for the 'Card' component
         */
        cardData: {
            default: () => {}
        }
    },
    computed: {

        /**
         * Card Data
         */
        data() {
            return this.cardData.data ? this.cardData.data : {};
        },

        /**
         * Actual Card data from Scryfall.com
         */
        card() {
            return this.data.card ? this.data.card : {};
        },

        /**
         * Card Image (can be Front, Back, Sleeve, Meld result etc.)
         */
        cardImageUrl() {
            // Hidden card - Sleeve or default image
            if(!this.cardData.isVisible) { 
                return this.$store.getters['cards/sleeveImageUrl'];
            }

            // IF it's a meldable card, and melded...
            if(this.cardData.isMelded) return this.cardData.data.melded.image_uris.normal;

            // If it's a non-flippable card, show the normal face
            if(!this.cardData.isFlippableCard) return this.card.image_uris.normal;
            
            // If it's a flippable card, decide which side to show
            return this.cardData.isFlipped ? this.card.card_faces[1].image_uris.normal : this.card.card_faces[0].image_uris.normal;
        },

        /**
         * Whether the card is in it's 'meld' state
         */
        isMelded() {
            return this.cardData.isMelded;
        },

        /**
         * Card name (returns 'hidden' if flipped down)
         */
        cardName() {
            return this.cardData.cardName;
        },

        /**
         * Retrieve the power including power counters
         */
        basePower() {
            return this.cardData.counters["+1/+1"] - this.cardData.counters["-1/-1"] + (this.cardData.basePower ? +this.cardData.basePower : 0);
        },

        /**
         * Retrieve the toughness including counters
         */
        baseToughness() {
            return this.cardData.counters["+1/+1"] - this.cardData.counters["-1/-1"] + (this.cardData.baseToughness ? +this.cardData.baseToughness : 0);
        }
    },
    methods: {

        storeCursorCoordinatesForFirefoxBug(e) {
            this.fireFoxBugX = e.clientX;
            this.fireFoxBugY = e.clientY;
        },

        /**
         * Toggle Tapping of card
         */
        tapCard(e) {
            if(e.clientY > this.fireFoxBugY - 10 && 
                e.clientY < this.fireFoxBugY + 10 && 
                e.clientX > this.fireFoxBugX - 10 && 
                e.clientX < this.fireFoxBugX + 10) {
                // Only tap cards that are on the battlefield
                if(this.cardData.isInZone == Zones.Playfield)
                    this.cardData.isTapped = !this.cardData.isTapped;
            }
        },

        /**
         * Show Card right-click menu
         */
        showCardMenu(e) {
            
            // If the card is in on top of the deck, don't open the right click menu :P
            if(this.cardData.isInZone == Zones.Deck) { return; }

            // Prevent 'default' right click behaviour
            e.preventDefault()

            // Hide menu if it's showing already
            this.showMenu = false

            // Position the menu based on cursor position
            this.x = e.clientX
            this.y = e.clientY

            // On the next refresh, open the menu
            this.$nextTick(() => {
                this.showMenu = true
            })
        },

        /**
         * Open Card detail window (closes right-click menu)
         */
        async openCardDetails() {
            this.showMenu = false;
            this.showCardDetail = true;
        },
        
        /**
         * Add nameless counter
         */
        addCounter() {
            this.cardData.counters[""]++;
        },

        /**
         * Remove nameless counter
         */
        removeCounter() {
            if(this.cardData.counters[""] > 0) {
                this.cardData.counters[""]--;
            }
        },

        /**
         * Up the power
         */
        addPower() {
            this.cardData.basePower ? this.cardData.basePower++ : this.cardData.basePower = 1;
        },

        /**
         * Lower the power
         */
        removePower() {
            if(this.cardData.basePower > 0) {
                this.cardData.basePower--;
            }
        },

        /**
         * Up the toughness
         */
        addToughness() {
            this.cardData.baseToughness ? this.cardData.baseToughness++ : this.cardData.baseToughness = 1;
        },

        /**
         * Lower the thoughness
         */
        removeToughness() {
            if(this.cardData.baseToughness > 0) {
                this.cardData.baseToughness--;
            }
        },

        /**
         * Add +1/+1 counter, if it has -1/-1 counters, remove one of the instead
         */
        addPowerCounter() {
            if(this.cardData.counters["-1/-1"]) {
                this.cardData.counters["-1/-1"]--;
            } else {
                this.cardData.counters["+1/+1"]++;
            }
        },

        /**
         * Remove +1/+1 counter, if below 0, add -1/-1 counter instead
         */
        removePowerCounter() {
            if(this.cardData.counters["+1/+1"]) {
                this.cardData.counters["+1/+1"]--;
            } else {
                this.cardData.counters["-1/-1"]++;
            }
        },

        /**
         * Bind the OnKeyDown event when the Cursor hovers the card
         */
        bindEventHandler() {
            document.body.onkeydown = (e) => {

                // Prevent any default behaviour
                e.preventDefault();

                // Check which key was pressed, and handle accordingly
                switch(e.key) {
                    case "c":
                        this.addCounter(); break;
                    case "C":
                        this.removeCounter(); break;
                    case "p": 
                        this.addPower(); break;
                    case "P":
                        this.removePower(); break;
                    case "d": 
                        this.addToughness(); break;
                    case "D":
                        this.removeToughness(); break;
                    case "t":
                        this.cardData.isTapped = !this.cardData.isTapped; break;
                    case "+":
                        this.addPowerCounter(); break;
                    case "-":
                        this.removePowerCounter(); break;
                    case "f":
                        this.cardData.isFlippableCard ? 
                            this.cardData.isFlipped = !this.cardData.isFlipped : 
                        this.cardData.isTurnableCard ? 
                            this.cardData.isRotated = !this.cardData.isRotated : 
                        this.cardData.isMeldableCard ? 
                            this.cardData.isMelded = !this.cardData.isMelded : 
                        null; break;
                    case "v":
                        this.cardData.isVisible = !this.cardData.isVisible; break;
                    case " ":
                        this.showCardDetail == false ? this.openCardDetails() : null; break;
                }

                // Return false for propegation
                return false;
            }
        },

        /**
         * Remove OnKeyDown event handler for the Card when the cursor leaves the card
         */
        unbindEventHandler() {
            document.body.onkeydown = null;
        }
    }
}
</script>

<style scoped>

    .card-wrapper {   
        position:absolute;
        height: 26.6vh;
        user-select: none;
    }
    
    .card {
        transition: transform 0.2s ease-in-out;
        height: 26.6vh;
    }

    .card:hover .card-image {
        border: 2px solid white;
    }

    .card.tapped {
        transform: rotate(80deg);
    }

    .card.rotated .card-image {
        transform: rotate(180deg);
    }

    .card .strength {
        position:absolute;
        z-index: 1;
        bottom: 2px;
        right: 2px;
        color: black;

        background: #eee;

        border: 0.5vh solid rgba(0,0,0,0.9);
        border-radius: 1vh;

        font-family: Magic;
        font-weight: bold;
        font-size: 2.25vh;
        line-height: 2.1vh;
    }

    .card .power {
        padding-left: 5px;
        padding-right: 2px;
    }

    .card .toughness {
        padding-right: 5px;
        padding-left: 2px;
    }

    .card .counter-container {
        position:absolute;
        bottom: 120px;
        right: 25px;

        display: flex;
        flex-direction: column;
    }

    .card .counter {

        text-shadow: 1px 1px 2px black;

        flex: 0;

        justify-content: center;
        align-items: center;
    }

    .card .counter + .counter {
        margin-top: 5px;
    }

    .card-image {
        transition: transform 0.2s ease-in-out;
        border-radius: 1vh;
        width: 19vh;
        height: 26.6vh;
    }

    .menu-cardname {
        color: white;
        text-shadow: 1px 1px 5px black;
    }

    .card-option-actions > * {
        margin-bottom: 12px;
    }
</style>

<style>
.main .v-text-field__details {
    display:none;
}
</style>