<template>
  <div v-show="cards.length" :class="classObject" :mode="mode + ': ' + cards.length">
      <div class="card-container" type="deckpreview"></div>


      <div v-if="cards.length" class="proxy-cards">
          <div class="proxy" v-for="card in cards" :key="card.index">
              
            <Card class="card" :cardData="card" />

            <div class="buttons">
                  <v-btn color="primary" :block="true" @click="moveCardToDeckTop(card)">To Top</v-btn>
                  <v-btn color="secondary" :block="true" @click="moveCardToDeckBot(card)" v-if="mode == 'scry'">To Bottom</v-btn>
                  <v-btn color="secondary" :block="true" @click="moveCardToGraveyard(card)" v-if="mode == 'surveil'">To Graveyard</v-btn>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import CardsFromLibraryModes from '../enums/CardsFromLibraryModes';
import Zones from '../enums/Zones';
import Card from './Card';

import Helper from '../helpers/helper';

export default {
    components: {
        Card
    },
    methods: {
        moveCardToDeckTop(card) {
            this.moveCardTo(card, Zones.DeckTop);
        },
        moveCardToDeckBot(card) {
            this.moveCardTo(card, Zones.DeckBot);
        },
        moveCardToGraveyard(card) {
            this.moveCardTo(card, Zones.Graveyard);
        },
        async moveCardTo(card, target) {
            let cardHtml = Helper.getCardHtmlFromPileByIndex(Zones.DeckPreview, card.index);
            await Helper.moveCardHtmlToZone(cardHtml, target, this.$store);
        }
    },
    computed: {
        cards() {
            return this.$store.getters['cards/cardsFromLibrary'];
        },
        mode() {
            return this.$store.getters['cards/previewMode'];
        },
        classObject() {
            return {
                "cards-from-library": true,
                "scry": this.mode == CardsFromLibraryModes.Scry,
                "reveal": this.mode == CardsFromLibraryModes.Reveal,
                "surveil": this.mode == CardsFromLibraryModes.Surveil,
            }
        }
    }
};
</script>

<style>
    .cards-from-library {
        position: absolute;
        top: 0.5vh;
        width: 100%;
        height: calc(100% - 0.5vh);
    }

    .cards-from-library::before {
        content: attr(mode);
    position:absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Beleren;
    top: -36px;
    }

    .cards-from-library .card-container {
        display:none;
    }

    .cards-from-library .proxy-cards {
        background: rgba(0,0,0,0.5);
        border: unset;
        width: 100%;
        height: calc(100% - 0.5vh);
        z-index: 200;
        display:flex;
        align-items: center;
        margin: unset;

        overflow-x:auto;
        margin-bottom: 0;

        border-radius: 10px 10px 0 0 ;
    }

    .cards-from-library .proxy-cards .card-wrapper {
        position:initial;
        display:inline-flex;
        width: 19vh;
    }

    .proxy {
        position:relative;
    }

    .proxy .card-wrapper {
        user-select: none;
        pointer-events: none;
    }

    .proxy .buttons {
        position:absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;

        padding: 40px 20px;
    }

    .proxy .buttons button {
        flex: 0;
        min-height: 30px;
    }
</style>