<template>
  <div :class="classObject">
    <div class="counter-name">
      <input type="text" v-model="counter.name" placeholder="Name" />
    </div>
    <div class="counter-controls">
      
      <v-input :hide-details="true">
          <template v-if="size == 'large'" slot="prepend">
              <v-btn icon> 
                  <v-icon :color="color">mdi-heart</v-icon>
              </v-btn>
          </template>


        <v-text-field @mousewheel="scrollValue" v-model="counter.amount" type="number" />
        
        <template slot="append" >
            <v-btn v-if="removable" icon class="remove" @click="(e) => removeButtonClick(counter)" color="error">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        
        </template>
        </v-input>

      
    </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            color: "red"
        }
    },
    props: {
        counter: { 
            defaults: () => {}
        },
        removable: {
            defaults: false
        },
        size: {
            defaults: "normal",
            validation: (value) => ["normal", "large"].includes(value)
        }
    },
    methods: {
        removeButtonClick(counter) {
            this.$emit('remove', counter);
        },
        scrollValue(e) {
            if(e.deltaY < 0) {
                this.counter.amount++
            } else {
                this.counter.amount--
            }
        }
    },
    computed: {
        classObject() {
            return {
                "counter": true,
                "counter--large": this.size == "large"
            }
        }
    }
};
</script>

<style scoped>
    .counter {
        padding: 0px 10px;
        margin-bottom: 0;
        border: 1px solid white;
        background: rgba(0,0,0,0.5);
        flex-direction: row;
    }

    .counter--large {
        padding: 10px;
        flex-direction: column;
    }

    .counter .counter-name {
        color: rgba(255,255,255,0.7);
        text-align: center;

        display:inline-flex;
        width: 60%;
    }

    .counter--large .counter-name {
        width: 100%;
        display: block;
    }
    
    .counter .counter-name input {
        color: rgba(255,255,255,0.7);
        text-align: left;
        display:flex;
        flex: 1;
        max-width: 90%;
        margin-right: 16px;
        position: relative;
        /* top: -3px; */
    }

    .counter .counter-controls {
        display: inline-flex;
        width: 40%;
    }

    .counter--large .counter-controls {
        display: flex;
        width: 100%;
    }

</style>

<style>
.counter .v-text-field {
    padding-top: 0;
    margin-top: 5px;
}

.counter .v-text-field__slot input {
    color: white;
    font-size: 16px;
}
.counter--large .v-text-field__slot input {
    font-size: 32px;
}

</style>