<template>
  <div class="counters">
    <Counter size="large" :counter="$store.state.player.lifeCounter" />

    <Counter
      v-for="(counter, index) in playerCounters"
      :key="index"
      :counter="counter"
      :removable="true"
      @remove="(counter) => $store.commit('player/removeCounter', counter)"
    />

    <v-btn
      class="btn-add-counter"
      outlined
      color="rgba(255,255,255,0.7)"
      @click="$store.commit('player/addCounter', { name: '' })"
    >
      add counter
    </v-btn>
  </div>
</template>

<script>
import Counter from "./Counter";

export default {
  components: {
    Counter,
  },
  computed: {
    playerCounters() {
      return this.$store.state.player.counters;
    },
  },
};
</script>

<style scoped>
.counters {
  width: 29vh;
  height: 32.5vh;
  padding: 0.5vh;
  padding-bottom: 0;

  overflow: auto;
}

.counters .btn-add-counter {
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.75);
}
</style>