<template>
  <div class="exile-container">
    <div class="exile-options" v-if="exileCards.length">
      <v-menu
        v-model="exileOptionsVisible"
        :close-on-click="true"
        :close-on-content-click="false"
        :offset-y="true"
      >
        <template v-slot:activator="{ on: menu, attrs }">
          <v-tooltip top>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn
                color="primary"
                fab
                dark
                v-bind="attrs"
                v-on="{ ...tooltip, ...menu }"
                small
              >
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <span>Exile Actions</span>
          </v-tooltip>
        </template>
        <v-list>
          <v-list-item>
            <v-list-item-action>
              <select @change="tutorExileCard">
                <option>Tutor a Card</option>
                <option disabled>------------</option>
                <option
                  v-for="card in exileCards.sort((a, b) =>
                    a.data.card.name.localeCompare(b.data.card.name)
                  )"
                  :key="card.index"
                  :value="card.index"
                >
                  {{ card.data.card.name }}
                </option>
              </select>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <v-chip small class="exile-counter" :pill="true" v-if="exileCards.length"
      >{{ exileCards.length }} card{{ exileCards.length !== 1 ? "s" : "" }}
    </v-chip>

    <div class="card-container card-stack card-drop exile" type="exile"></div>
  </div>
</template>

<script>
import Zones from "./../enums/Zones";

export default {
  data() {
    return {
      exileOptionsVisible: false,
    };
  },
  methods: {
    async tutorExileCard(event) {
      let cardIndex = event.target.value;
      let card = await this.$store.dispatch("cards/getCardByIndex", cardIndex);
      await this.$store.dispatch("cards/moveCard", { card, zone: Zones.Hand });
    },
  },
  computed: {
    exileCards() {
      return this.$store.getters["cards/exile"];
    },
  },
};
</script>

<style scoped>
.exile-container {
  position: relative;
  height: 26.6vh;
  width: 19vh;
  margin: 0.5vh;
}

.exile {
  position: absolute;
  margin: 0;
}

.exile::after {
  content: "Exile";
}

.exile::after {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  font-family: Beleren;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 15px black;
  border-radius: 1vh;
}

.exile-options {
  position: absolute;
  z-index: 100;
  top: -5px;
  left: -5px;
}

.exile-counter {
  position: absolute;
  z-index: 99;
  top: -5px;
  left: 10px;
  padding-left: 35px;
}
.counts {
  margin-top: 10px;
}
</style>