<template>
    <v-container class="playfield-container" :fluid="true" >

        <GameControls class="game-controls-menu" v-if="cards.length" />

        <v-row>
            <v-col>
                <PlayField />
            </v-col>
        </v-row>

        <div class="bottom-bar">

            <div class="bottom-bar-content">

                <Hand />

                <div class="bottom-bar-sections">
                    
                    <Counters />
                    
                    <Exile />

                    <Graveyard />

                </div>

            </div>
        </div>

        <Loader />

    </v-container>
</template>

<script>

import PlayField from './PlayField'
import GameControls from './GameControls'
import Graveyard from './Graveyard'
import Exile from './Exile'
import Counters from './Counters'

import Hand from './Hand'
import Loader from './dialogs/Loader'

export default {
    components: {
        GameControls,
        Counters,
        PlayField,
        Hand,
        Graveyard,
        Exile,
        Loader
    },
    computed: {
        cards() {
            return this.$store.getters['cards/all'];
        }
    }
}
</script>

<style scoped>
    .bottom-bar {
        margin:auto;

        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        display: flex;
        justify-content: center;
    }

    .bottom-bar-content {
        display: flex;
        width: 160vh;
    }

    .bottom-bar-sections {
        display: flex;
    }

    .game-controls-menu {
        position:absolute;
        z-index: 999;
    }
</style>