<template>
  <v-navigation-drawer
    :mini-variant.sync="menuSmall"
    :right="true"
    absolute
    color="#222"
    dark
  >
    <v-list dense nav class="py-0">
      <v-list-item two-line class="px-0">

        <v-tooltip left>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn v-on="{ ...tooltip }" icon @click.stop="menuSmall = !menuSmall">
                <v-icon>{{
                  menuSmall ? "mdi-chevron-left" : "mdi-chevron-right"
                }}</v-icon>
              </v-btn>
            </template>
            <span>
              {{
                menuSmall ? "Open Menu" : "Minimize Menu"
              }}
            </span>
          </v-tooltip>   

        <v-list-item-avatar>
          <v-icon>mdi-cards</v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>Game Controls</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-item link @click.stop="startTurnClicked">
        <v-list-item-icon>

          <v-tooltip left>
            <template v-slot:activator="{ on: tooltip }">
              <v-icon v-on="{ ...tooltip }">mdi-arrow-right-drop-circle-outline</v-icon>
            </template>
            <span>Start Turn</span>
          </v-tooltip>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Start Turn</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item link @click.stop="untapAllClicked">
        <v-list-item-icon>

          <v-tooltip left>
            <template v-slot:activator="{ on: tooltip }">
              <v-icon v-on="{ ...tooltip }">mdi-undo</v-icon>
            </template>
            <span>Untap All</span>
          </v-tooltip>

        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Untap All</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-item>
        <v-list-item-icon>

          <v-tooltip left>
            <template v-slot:activator="{ on: tooltip }">
              <v-icon v-on="{ ...tooltip }">mdi-account-plus</v-icon>
            </template>
            <span>Create Token</span>
          </v-tooltip>

        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            <v-select dense :items="tokenNames" v-model="selectedToken" />
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="!menuSmall">
        <v-list-item-content>
          <v-btn @click="createToken">Create Token</v-btn>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-item>
        <v-list-item-icon>

          <v-tooltip left>
            <template v-slot:activator="{ on: tooltip }">
              <v-icon v-on="{ ...tooltip }">mdi-gesture-tap</v-icon>
            </template>
            <span>Action Playfield</span>
          </v-tooltip>

        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            <v-select dense :items="['Destroy', 'Exile', 'To Hand']" v-model="selectedAction" />
            <div class="board-action-all">All</div>
            <v-select dense :items="['Creatures', 'Enchantments', 'Artifacts', 'Lands', 'Non-Lands']" v-model="selectedType" />
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="!menuSmall">
        <v-list-item-content>
          <v-btn @click="actionBoard">Perform</v-btn>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-item link @click.stop="flipCoin">
        <v-list-item-icon>

          <v-tooltip left>
            <template v-slot:activator="{ on: tooltip }">
              <v-icon v-on="{ ...tooltip }">mdi-circle-multiple</v-icon>
            </template>
            <span>Flip a Coin</span>
          </v-tooltip>

        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Flip a Coin</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item link @click.stop="throwDice">
        <v-list-item-icon>

          <v-tooltip left>
            <template v-slot:activator="{ on: tooltip }">
              <v-icon v-on="{ ...tooltip }">mdi-dice-multiple</v-icon>
            </template>
            <span>Roll a Die</span>
          </v-tooltip>

        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Roll a Die</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item link @click.stop="spinWheel">
        <v-list-item-icon>

          <v-tooltip left>
            <template v-slot:activator="{ on: tooltip }">
              <v-icon v-on="{ ...tooltip }">mdi-sync-circle</v-icon>
            </template>
            <span>Spin a Wheel</span>
          </v-tooltip>

        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Spin a Wheel</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      
      <v-divider></v-divider>

      <v-list-item link @click.stop="resetGameClicked">
        <v-list-item-icon>

          <v-tooltip left>
            <template v-slot:activator="{ on: tooltip }">
              <v-icon v-on="{ ...tooltip }" color="error">mdi-reload-alert</v-icon>
            </template>
            <span>Reset Game</span>
          </v-tooltip>

        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Reset Game</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

    </v-list>
  </v-navigation-drawer>
</template>

<script>
import Zones from "../enums/Zones";
import helper from "../helpers/helper";
export default {
  data() {
    return {
      menuSmall: true,
      selectedToken: null,
      selectedAction: 'Destroy',
      selectedType: 'Creatures'
    };
  },
  props: {},
  methods: {
    createToken() {
      console.log(this.selectedToken);

      this.$store.dispatch("cards/createToken", this.selectedToken);
    },
    resetGameClicked() {
      let reset = window.confirm("Are you sure?");
      if (reset) {
        this.$store.dispatch("cards/resetGame");
      }
    },
    startTurnClicked() {
      this.untapAllClicked();

      helper.moveXCardsFromTopOfDeckToZone(1, Zones.Hand, this.$store);
    },
    untapAllClicked() {
      this.$store.dispatch("cards/untapAll");
    },
    moveAllClicked() {
      this.$store.dispatch("cards/moveAll");
    },
    async actionBoard() {

      let action = this.selectedAction;
      let type = this.selectedType;

      let targetZone;
      if(action == "Destroy") {
        targetZone = Zones.Graveyard;
      }
      if(action == "Exile") {
        targetZone = Zones.Exile;
      }
      if(action == "To Hand") {
        targetZone = Zones.Hand;
      }

      let cards = [];
      if(type == "Creatures") {
        cards = this.cards.filter(c => c.data.card.type_line.includes("Creature"));
      }
      if(type == "Enchantments") {
        cards = this.cards.filter(c => c.data.card.type_line.includes("Enchant"));
      }
      if(type == "Artifacts") {
        cards = this.cards.filter(c => c.data.card.type_line.includes("Artifact"));
      }
      if(type == "Lands") {
        cards = this.cards.filter(c => c.data.card.type_line.includes("Land"));
      }
      if(type == "Non-Lands") {
        cards = this.cards.filter(c => !c.data.card.type_line.includes("Land"));
      }

      // helper.moveCardHtmlToZone();
      for(let card of cards) {
        let cardHtml = await helper.getCardHtmlFromCard(card);
        helper.moveCardHtmlToZone(cardHtml, targetZone, this.$store);
      }

      console.log(`${action} all ${type} cards on the playfield...`);
    },
    throwDice() {
      window.open('https://www.google.com/search?q=roll+6+sided+die')

    },
    flipCoin() {
      window.open('https://www.google.com/search?q=flip+a+coin')

    },
    spinWheel() {
      window.open('https://www.google.com/search?q=3+value+spinner')
    }
  },
  computed: {
    cards() {
      return this.$store.getters["cards/playfield"];
    },
    tokenSpawners() {
      return this.$store.getters["cards/createsToken"];
    },
    tokenNames() {
      let list = this.tokenSpawners
        .map((t) => {
          return t.creates.map((c) => {
            let stats = c.power ? ` - ${c.power} / ${c.toughness}` : ""
            return {
              text: `${c.name} Token${stats}`,
              value: c,
            };
          });
        })
        .flat();

      list.push({ text: "# Custom Token", value: { card_faces: [], keywords: [], image_uris: { normal: require("@/assets/token.jpg") } } })

      return list.sort((a, b) => {
        return a.text.localeCompare(b.text);
      });
    },
  },
  mounted() {
    this.selectedToken = this.tokenNames.length ? this.tokenNames[0].value : '';
  }
};
</script>

<style scoped>
.board-action-all {
  padding-top: 5px;
}
</style>