<template>
  <div class="graveyard-container">
    <div class="graveyard-options" v-if="graveyardCards.length">
      <v-menu
        v-model="graveyardOptionsVisible"
        :close-on-click="true"
        :close-on-content-click="false"
        :offset-y="true"
      >
        <template v-slot:activator="{ on: menu, attrs }">
          <v-tooltip top>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn
                color="primary"
                fab
                dark
                v-bind="attrs"
                v-on="{ ...tooltip, ...menu }"
                small
              >
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <span>Graveyard Actions</span>
          </v-tooltip>
        </template>
        <v-list>
          <v-list-item>
            <v-list-item-action>
              <select @change="tutorGraveyardCard">
                <option>Tutor a Card</option>
                <option disabled>------------</option>
                <option
                  v-for="card in graveyardCards.sort((a, b) =>
                    a.data.card.name.localeCompare(b.data.card.name)
                  )"
                  :key="card.index"
                  :value="card.index"
                >
                  {{ card.data.card.name }}
                </option>
              </select>
            </v-list-item-action>
          </v-list-item>

          <v-divider></v-divider>

          <v-list-item>
            <div class="counts">
              <div v-if="creatures.length">
                {{ creatures.length }} Creatures
              </div>
              <div v-if="instants.length">{{ instants.length }} Instants</div>
              <div v-if="sorceries.length">
                {{ sorceries.length }} Sorceries
              </div>
              <div v-if="lands.length">{{ lands.length }} Lands</div>
              <div v-if="artifacts.length">
                {{ artifacts.length }} Artifacts
              </div>
              <div v-if="enchantments.length">
                {{ enchantments.length }} Enchantments
              </div>
            </div>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <v-chip
      small
      class="graveyard-counter"
      :pill="true"
      v-if="graveyardCards.length"
      >{{ graveyardCards.length }} card{{
        graveyardCards.length !== 1 ? "s" : ""
      }}
    </v-chip>

    <div
      class="card-container card-stack card-drop graveyard"
      type="graveyard"
    ></div>
  </div>
</template>

<script>
import Zones from "./../enums/Zones";

export default {
  data() {
    return {
      graveyardOptionsVisible: false,
    };
  },
  methods: {
    async tutorGraveyardCard(event) {
      let cardIndex = event.target.value;
      let card = await this.$store.dispatch("cards/getCardByIndex", cardIndex);
      await this.$store.dispatch("cards/moveCard", { card, zone: Zones.Hand });
    },
  },
  computed: {
    graveyardCards() {
      return this.$store.getters["cards/graveyard"];
    },
    creatures() {
      return this.graveyardCards.filter((c) =>
        c.data.card.type_line.includes("Creature")
      );
    },
    instants() {
      return this.graveyardCards.filter((c) =>
        c.data.card.type_line.includes("Instant")
      );
    },
    sorceries() {
      return this.graveyardCards.filter((c) =>
        c.data.card.type_line.includes("Sorcery")
      );
    },
    lands() {
      return this.graveyardCards.filter((c) =>
        c.data.card.type_line.includes("Land")
      );
    },
    artifacts() {
      return this.graveyardCards.filter((c) =>
        c.data.card.type_line.includes("Artifact")
      );
    },
    enchantments() {
      return this.graveyardCards.filter((c) =>
        c.data.card.type_line.includes("Enchant")
      );
    },
  },
};
</script>

<style scoped>
.graveyard-container {
  position: relative;
  height: 26.6vh;
  width: 19vh;
  margin: 0.5vh;
}

.graveyard {
  position: absolute;
  margin: 0;
}

.graveyard::after {
  content: "Graveyard";
}

.graveyard::after {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  font-family: Beleren;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 15px black;
  border-radius: 1vh;
}

.graveyard-options {
  position: absolute;
  z-index: 100;
  top: -5px;
  left: -5px;
}

.graveyard-counter {
  position: absolute;
  z-index: 99;
  top: -5px;
  left: 10px;
  padding-left: 35px;
}
.counts {
  margin-top: 10px;
}
</style>