<template>
  <div class="hand-container"
    @mouseover="bindEventHandler"
    @mouseleave="unbindEventHandler"
  >
    <div class="hand-options" v-if="cards.length">
      <v-menu
        v-model="handOptionsVisible"
        :close-on-click="true"
        :close-on-content-click="false"
        :offset-y="true"
      >
        <template v-slot:activator="{ on: menu, attrs }">
          <v-tooltip top>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn
                color="primary" fab dark
                v-bind="attrs"
                v-on="{ ...tooltip, ...menu }"
                small
              >
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <span>Hand Actions</span>
          </v-tooltip>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-action>
              <v-switch v-model="handCardsVisible" color="primary"></v-switch>
            </v-list-item-action>
            <v-list-item-title>
              Toggle Visibility
            </v-list-item-title>
          </v-list-item>
          <v-list-item
            v-for="(item, index) in handOptions"
            :key="index"
            @click="handOptionClicked(item)"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <v-chip class="hand-counter" small :pill="true" v-if="cards.length">
      {{ cards.length }} card{{ cards.length !== 1 ? 's' : ''}}
    </v-chip>

    <div ref="hand" type="hand" class="hand card-container card-drop" @mousewheel="scrollSideways"></div>

    <CardsFromLibrary />

  </div>
</template>

<script>
import Vue from "vue";
import Helper from "./../helpers/helper";

import CardsFromLibrary from './CardsFromLibrary';

import Zones from '../enums/Zones';
import helper from './../helpers/helper';

export default {
  data() {
    return {
      handCardsVisible: true,
      handOptionsVisible: false,
      handOptions: [
        { title: "Discard Random", action: "randomDiscard" },
        { title: "Discard Hand", action: "discardAll" },
        { title: "Exile Hand", action: "exileAll" },
        { title: "Hand to Bottom of Library", action: "handToBottom" }
      ]
    }
  },
  components: {
    CardsFromLibrary
  },
  watch: {
    handCardsVisible(value) {
      this.cards.forEach(c => c.isVisible = value);
    }
  },
  methods: {
    scrollSideways(e) {
      this.$refs.hand.scrollLeft -= (e.wheelDelta / 5);
    },
    handOptionClicked(item) {
      console.log(`Hand option '${item.action}' was selected`)

      switch(item.action) {
        case "visibility":
          this.toggleHandVisibility();
          break;
        case "randomDiscard": 
          this.discardRandomCard();
          break;
        case "discardAll":
          this.discardHand();
          break;
        case "exileAll":
          this.exileHand();
          break;
        case "handToBottom":
          this.putHandToBottomOfLibrary();
      }
    },
    toggleHandVisibility() {
      let visible = this.cards.some(c => c.isVisible);
      this.cards.forEach(card => {
        this.$store.commit('cards/setCardVisibility', { card, visible: !visible })
      });
    },
    discardRandomCard() {
      const randomCard = this.cards[Math.floor(Math.random() * this.cards.length)];
      this.$store.dispatch('cards/moveCard', { card: randomCard, zone: Zones.Graveyard })
    },
    discardHand() {
      this.cards.forEach(card => {
        this.$store.dispatch('cards/moveCard', { card, zone: Zones.Graveyard })
      });
    },
    exileHand() {
      this.cards.forEach(card => {
        this.$store.dispatch('cards/moveCard', { card, zone: Zones.Exile })
      });
    },
    async putHandToBottomOfLibrary() {
      let handHtml = document.querySelector('.hand.card-container');
      let promises = [];
      handHtml.children.forEach(c => {
        promises.push(helper.moveCardHtmlToZone(c, Zones.Deck, this.$store));
      })

      return Promise.all(promises);
    },
    bindEventHandler() {
            document.body.onkeydown = async (e) => {

                console.log(e);

                e.preventDefault();
                switch(e.key) {
                    case "m":
                      await this.putHandToBottomOfLibrary();
                      helper.shuffle(document.querySelector(".deck.card-stack"), true);
                      helper.moveXCardsFromTopOfDeckToZone(7, Zones.Hand, this.$store);
                      break;
                    case "d":
                      helper.moveXCardsFromTopOfDeckToZone(1, Zones.Hand, this.$store);
                      break;
                    case "v":
                      this.toggleHandVisibility(); break;
                }
                return false;
            }
        },
        unbindEventHandler() { 
            document.body.onkeydown = null;
        }
  },
  computed: {
    cards() {
      return this.$store.getters["cards/hand"];
    }
  }
};
</script>

<style scoped>

.hand-container {
    width: 90vh;
    max-width: 90vh;
    position:relative;

    margin: 0.5vh;
    margin-bottom: 0;
}

.hand-options {
  position: absolute;
  z-index: 100;
  top: -5px;
  left: -5px;
}

.hand-counter {
  position: absolute;
  z-index: 99;
  top: -5px;
  left: 10px;
  padding-left: 35px;
}

.hand-container .hand {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;

  height: 32vh;

  width: 100%;

  margin: 0;

  width: 90vh;
  max-width: 90vh;

  background: rgba(0,0,0,0.5)
}

.hand::after {
  content: "Hand";
  font-family: Beleren;
  font-size: 34px;
  color: rgba(255,255,255,0.7);
  display:flex;
  position:absolute;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100%;
}
</style>

<style>

.hand .card-wrapper {
  margin: 2vh 3vh 0;
  width: 50px;

  transition: margin 0.2s;
  position:relative;
}

.hand .card-wrapper:first-child {
  margin-left: 2vh;
}

.hand .card-wrapper:hover {
  margin-right: 10.75vh;
}
</style>