<template>
  <!-- First Row of Cards -->
  <div class="playfield">
    <div class="playfield-rows" :class="{ 'large-field' : isBigBoard }">
      <div class="playfield-row">
        <div v-if="isBigBoard" type="playfield" class="card-container card-drop extra-slot"></div>
        <div v-if="isBigBoard" type="playfield" class="card-container card-drop extra-slot"></div>
        <div v-if="isBigBoard" type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div
          type="commandzone"
          class="card-container card-drop commandzone"
        ></div>
      </div>

      <div v-if="isBigBoard" class="playfield-row">
        <div type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop extra-slot"></div>
      </div>

      <!-- Second Row of Cards -->
      <div class="playfield-row">
        <div v-if="isBigBoard" type="playfield" class="card-container card-drop extra-slot"></div>
        <div v-if="isBigBoard" type="playfield" class="card-container card-drop extra-slot"></div>
        <div v-if="isBigBoard" type="playfield" class="card-container card-drop extra-slot"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop"></div>
        <div type="playfield" class="card-container card-drop">
          <Card
            v-for="card in tokens"
            :key="card.index"
            token="true"
            :cardData="card"
          />
        </div>

        <!-- DECK START -->
        <div class="card-pile-container">
          <div class="deck-options" v-if="allCards.length">
            <v-menu
              v-model="deckOptionsVisible"
              :close-on-click="true"
              :close-on-content-click="false"
              :offset-y="true"
            >
              <template v-slot:activator="{ on: menu, attrs }">
                <v-tooltip top>
                  <template v-slot:activator="{ on: tooltip }">
                    <v-btn
                      color="primary"
                      fab
                      dark
                      v-bind="attrs"
                      v-on="{ ...tooltip, ...menu }"
                      small
                    >
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                  <span>Deck Actions</span>
                </v-tooltip>
              </template>
              <v-list>
                <v-list-item>
                  <v-list-item-action>
                    <select @change="tutorDeckCard">
                      <option>Tutor a Card</option>
                      <option disabled>------------</option>
                      <option
                        v-for="card in deckCards.sort((a, b) =>
                          a.data.card.name.localeCompare(b.data.card.name)
                        )"
                        :key="card.index"
                        :value="card.index"
                      >
                        {{ card.data.card.name }}
                      </option>
                    </select>
                  </v-list-item-action>
                </v-list-item>
                <v-list-item
                  v-for="(item, index) in deckOptions"
                  :key="index"
                  @click="deckOptionClicked(item)"
                >
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>

                <v-list-item>
                  <v-list-item-title>
                    <v-switch
                      v-model="deckTopCardVisible"
                      label="Top Card Visible"
                    />
                  </v-list-item-title>
                </v-list-item>

                <v-list-item>
                  <v-list-item-title>
                    <v-select
                      v-model="selectedDeckOption"
                      class="otherDeckOptions"
                      :items="otherDeckOptions"
                      item-value="action"
                      item-text="title"
                      @change="selectedOtherDeckOption"
                    />
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
          <v-chip small class="deck-counter" :pill="true" v-if="allCards.length"
            >{{ deckCards.length }} card{{
              deckCards.length !== 1 ? "s" : ""
            }}</v-chip
          >

          <div class="deck-dropzones">
            <!-- Drop Card to Top of Library -->
            <div class="card-drop top" type="top"></div>

            <!-- Drop Card to Bottom of Library -->
            <div class="card-drop bot" type="bot"></div>
          </div>

          <div
            class="card-container deck card-stack"
            type="deck"
            v-if="allCards.length"
          >
            <Card v-for="card in allCards" :key="card.index" :cardData="card" />
          </div>
          <div v-else class="card-container deck"></div>
        </div>
        <!-- DECK END -->
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

import Card from "./Card";

import Helper from "./../helpers/helper";
import Zones from "../enums/Zones";
import CardsFromLibraryModes from "../enums/CardsFromLibraryModes";
import helper from "./../helpers/helper";

export default {
  components: {
    Card,
  },
  data: () => {
    return {
      deckTopCardVisible: false,
      deckOptionsVisible: false,
      deckOptions: [
        { title: "Draw...", action: "draw" },
        { title: "Shuffle Deck", action: "shuffle" },
      ],
      selectedDeckOption: "other",
      otherDeckOptions: [
        { title: "Other Action...", action: "other" },
        { title: "Look At...", action: "lookat" },
        { title: "Scry...", action: "scry" },
        { title: "Surveil...", action: "surveil" },
        { title: "Mill...", action: "mill" },
      ]
    };
  },
  watch: {
    async deckCards() {
      if (this.deckTopCardVisible) {
        let cardHtml = await helper.getTopCardFromDeck();
        let card = await helper.getCardFromSourceByElement(
          cardHtml,
          this.$store
        );

        card.isVisible = true;
      }
    },
    async deckTopCardVisible(newValue) {
      let cardHtml = await helper.getTopCardFromDeck();
      let card = await helper.getCardFromSourceByElement(cardHtml, this.$store);
      card.isVisible = newValue;
    },
    async isBigBoard(newValue) {
      if(!newValue) {
        // check for cards to move to board slot
        let cardsInSpotsToBeRemoved = document.querySelectorAll('.extra-slot > .card-wrapper');
        let saveSpots = document.querySelectorAll('.card-container[type=playfield]:not(.extra-slot)');
        
        for(let cardHtml of cardsInSpotsToBeRemoved) {
          await helper.moveCardHtmlToZone(cardHtml, Zones.Playfield, this.$store);
        }
      }
    }
  },
  computed: {
    allCards() {
      return this.$store.getters["cards/all"];
    },
    deckCards() {
      return this.$store.getters["cards/deck"];
    },
    tokens() {
      return this.$store.getters["cards/tokens"];
    },
    isBigBoard() {
      return this.$store.state.cards.boardSize == 'normal' ? false : true; 
    }
  },
  methods: {
    deckOptionClicked(item) {
      switch (item.action) {
        case "shuffle":
          helper.shuffleDeck();
          break;
        case "draw":
          this.deckDraw();
          break;
      }
    },
    selectedOtherDeckOption(action) {
      switch (action) {
        case "mill":
          this.deckMill();
          break;
        case "lookat":
          // Show windows that lists cards on top of Hand, and choose top/graveyard per card (then card immediately gets moved)
          this.lookAt();
          break;
        case "scry":
          // Show windows that lists cards on top of Hand, and choose top/bottom per card (then card immediately gets moved)
          this.scry();
          break;
        case "surveil":
          // Show windows that lists cards on top of Hand, and choose top/graveyard per card (then card immediately gets moved)
          this.surveil();
          break;
      }

      // Reset option
      setTimeout(() => {
        this.selectedDeckOption = "other";
      }, 0);
    },
    async tutorDeckCard(event) {
      let cardIndex = event.target.value;
      let card = await this.$store.dispatch("cards/getCardByIndex", cardIndex);
      await this.$store.dispatch("cards/moveCard", { card, zone: Zones.Hand });
    },
    async deckDraw() {
      // Move cards from top deck to hand
      let draw = window.prompt("How many cards?", "1");
      Helper.moveXCardsFromTopOfDeckToZone(draw, Zones.Hand, this.$store);
    },
    async deckMill() {
      // Move cards from top deck to hand
      let mill = window.prompt("How many cards?", "1");

      Helper.moveXCardsFromTopOfDeckToZone(mill, Zones.Graveyard, this.$store);
    },
    async lookAt() {
      let lookAt = window.prompt("How many cards?", "1");
      Helper.moveXCardsFromTopOfDeckToZone(
        lookAt,
        Zones.DeckPreview,
        this.$store
      );

      // Set Type for DeckPreviewer to 'Look At'
      this.$store.commit(
        "cards/cardsFromLibraryMode",
        CardsFromLibraryModes.Reveal
      );
    },
    async scry() {
      let scry = window.prompt("How many cards?", "1");
      Helper.moveXCardsFromTopOfDeckToZone(
        scry,
        Zones.DeckPreview,
        this.$store
      );
      // Set Type for DeckPreviewer to 'Scry'
      this.$store.commit(
        "cards/cardsFromLibraryMode",
        CardsFromLibraryModes.Scry
      );
    },
    async surveil() {
      let surveil = window.prompt("How many cards?", "1");
      Helper.moveXCardsFromTopOfDeckToZone(
        surveil,
        Zones.DeckPreview,
        this.$store
      );

      // Set Type for DeckPreviewer to 'Surveil'
      this.$store.commit(
        "cards/cardsFromLibraryMode",
        CardsFromLibraryModes.Surveil
      );
    },
  },
};
</script>

<style scoped>
.playfield {
}

.playfield-rows {
}

.playfield-row {
  display: flex;
  justify-content: center;
}

.playfield-row + .playfield-row {
  margin-top: 2vh;
}

.commandzone::after,
.deck::after {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  font-family: Beleren;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 15px black;
  border-radius: 1vh;
}

.commandzone::after {
  content: "CMDR";
}

.deck::after {
  content: "Deck";
}

.card-pile-container {
  position: relative;
}

.deck-options {
  position: absolute;
  z-index: 100;
  top: -5px;
  left: -5px;
}

.deck-counter {
  position: absolute;
  z-index: 99;
  top: -5px;
  left: 10px;
  padding-left: 35px;
}
</style>

<style>
.card-container {
  border: 2px dashed rgba(125, 125, 125, 1);

  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);

  box-sizing: content-box;
  border-radius: 1vh;
  position: relative;
  height: 26.6vh;
  width: 19vh;
  margin: 0.5vh;
  box-sizing: border-box;
}

.playfield-rows .card-container .card {
  position: absolute;
  top: 0;
  left: 0;
}

.playfield-rows .card-container:not(.card-stack) .card-wrapper + .card-wrapper {
  left: 10px;
  top: 25px;
}
.playfield-rows
  .card-container:not(.card-stack)
  .card-wrapper
  + .card-wrapper
  + .card-wrapper {
  left: 20px;
  top: 50px;
}
.playfield-rows
  .card-container:not(.card-stack)
  .card-wrapper
  + .card-wrapper
  + .card-wrapper
  + .card-wrapper {
  left: 30px;
  top: 75px;
}
.playfield-rows
  .card-container:not(.card-stack)
  .card-wrapper
  + .card-wrapper
  + .card-wrapper
  + .card-wrapper
  + .card-wrapper {
  left: 40px;
  top: 100px;
}

.card-container.card-stack .card-wrapper:nth-child(1) {
  left: 0;
  top: 0;
}
.card-container.card-stack .card-wrapper:nth-child(2) {
  left: 4px;
  top: 1px;
}
.card-container.card-stack .card-wrapper:nth-child(3) {
  left: 8px;
  top: 3px;
}
.card-container.card-stack .card-wrapper:nth-child(4) {
  left: 12px;
  top: 6px;
}
.card-container.card-stack .card-wrapper:nth-child(5) {
  left: 15px;
  top: 9px;
}
.card-container.card-stack .card-wrapper:nth-child(n + 6) {
  left: 20px;
  top: 12px;
}

.card-container.card-stack .card-wrapper:not(:nth-last-child(1)) {
  pointer-events: none;
}

.deck-dropzones {
  display: flex;
  flex-direction: column;
  position: absolute;

  left: 5px;
  top: 5px;

  height: calc(100% + 5px);
  width: calc(100% + 10px);
}

.deck-dropzones .card-drop {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  transition: all 0.1s linear;
}

.deck-dropzones .card-drop > * {
  display: none;
}

.deck-dropzones .card-drop.visible {
  display: flex;
}
.deck-dropzones .card-drop:hover {
  transform: scale(1.2);
}

.deck-dropzones .top::before,
.deck-dropzones .bot::before {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Beleren;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 15px black;
  border: 2px dashed gray;
  border-radius: 1vh;

  margin: 30px 20px;
}

.deck-dropzones .top::before {
  content: "Top of Library";
}

.deck-dropzones .bot::before {
  content: "Bottom of Library";
}

.otherDeckOptions {
  margin-right: 0;
  width: 100%;
}


/** SHUFFLING ANIMATION */
@keyframes cardShufflingLeft {
  0% {
    transform: rotate(0deg);
    left: 0;
  }
  60% {
    transform: rotate(-30deg);
    left: -5vh;
  }
  100% {
    transform: rotate(0deg);
    left: 0;
  }
}

@keyframes cardShufflingRight {
  0% {
    transform: rotateZ(0deg);
    left: 0;
    top: 0
  }
  60% {
    transform: rotateZ(-30deg);
    left: 7vh;
    top: 10vh
  }
  100% {
    transform: rotateZ(0deg);
    left:0;
    top: 0;
  }
}

.shuffling .card-wrapper:nth-child(odd) {
  animation: cardShufflingLeft 0.5s;
}
.shuffling .card-wrapper:nth-child(even) {
  animation: cardShufflingRight 0.5s;
}

.playfield-rows.large-field {
  width: 120%;
  position:relative;
    transform: scale(0.725);
    left: -10%;
    top: -13.5vh;
}

.playfield-rows.large-field .playfield-row + .playfield-row {
  margin-top: 1vh;
}
</style>

<style>
.otherDeckOptions .v-select__selections input {
  display: none;
}

.gu-mirror {
  pointer-events: none;
}
</style>