<template>
  <v-app>
    <v-app-bar app dense dark>
      <img
        :src="require('@/assets/a.png')"
        alt="Arthesian"
        width="32px"
        height="32px"
      >
      <div class="d-flex align-center ml-2 mr-6">MTG Playtester</div>

      <v-spacer></v-spacer>

      <LoadDeckDialog />

      <v-spacer></v-spacer>

      <HelpDialog />

      <SettingsDialog />
    </v-app-bar>

    <div ref="bgContainer" class="background-image-container">
      <div
        class="background-image"
        :style="{ backgroundImage: backgroundImageUrl }"
      />
    </div>

    <v-main class="main">
      <Game />
    </v-main>
  </v-app>
</template>

<script>
import Game from "./components/Game";
import Vue from "vue";
import helper from "./helpers/helper";
import Zones from "./enums/Zones";

import SettingsDialog from "./components/dialogs/SettingsDialog";
import LoadDeckDialog from "./components/dialogs/LoadDeckDialog";
import HelpDialog from "./components/dialogs/HelpDialog";

export default {
  name: "App",

  components: {
    Game,
    SettingsDialog,
    LoadDeckDialog,
    HelpDialog,
  },

  data() {
    return {};
  },

  watch: {
    backgroundImageUrl(newValue, oldValue) {
      this.fadeInNewBackgroundImage(newValue, oldValue);
    }
  },

  methods: {
    async onCardStartDrag(el) {
      let dropzones = document.querySelectorAll(".card-drop");
      dropzones.forEach((dz) => {
        dz.classList.add("visible");
      });
    },

    async onCardEndDrag(el) {
      // Remove Visible class from 'Drop Zones'
      let dropzones = document.querySelectorAll(".card-drop");
      dropzones.forEach((dz) => {
        dz.classList.remove("visible");
      });
    },

    async handleCardDrop(el, target, source) {
      helper.moveCardHtmlToZone(el, target, this.$store);
    },

    bindGlobalKeyEvents() {
      window.onkeydown = async (e) => {

        if(e.key == "?") {
          this.$store.state.helpOpen = true;
        }

        if(!this.cards.length) { return; }

        if(e.key == "u" && e.altKey) {
          this.$store.dispatch("cards/untapAll");
        }

        if(e.key == "s" && e.altKey) {
          helper.shuffleDeck();
        }

        if(e.key == "n" && e.altKey) {
          this.$store.dispatch("cards/untapAll");
            helper.moveXCardsFromTopOfDeckToZone(1, Zones.Hand, this.$store);
        }

        
      };
    },

    fadeInNewBackgroundImage(newValue, oldValue) {
      let bgContainer = this.$refs.bgContainer;
      let child = bgContainer.children[0];
      let clone = child.cloneNode(true);

      clone.classList.add('clone');
      clone.style.backgroundImageUrl = oldValue;

      setTimeout(() => {
        clone.classList.add('fadeOut');
      }, 100);

      bgContainer.append(clone);

      setTimeout(() => {
        clone.remove();
      }, 3000);
    }
  },

  computed: {
    backgroundImageUrl() {
      return `url(${this.$store.getters["playmatImageUrl"]}`;
    },
    cards() {
      return this.$store.getters["cards/all"];
    },
  },

  async mounted() {
    this.$drake.off("dragend", this.onCardEndDrag);
    this.$drake.off("drag", this.onCardStartDrag);
    this.$drake.off("drop", this.handleCardDrop);

    this.$drake.on("dragend", this.onCardEndDrag);
    this.$drake.on("drag", this.onCardStartDrag);
    this.$drake.on("drop", this.handleCardDrop);

    // Load Background Image on Application Start
    let playmat = helper.getStoredData("background");
    if (playmat) {
      let playmatUrl = await helper.getImageBlobUrl(playmat.data);
      this.$store.commit("setPlaymatUrl", playmatUrl);
    }

    // Load Sleeve Image on Application Start
    let sleeve = helper.getStoredData("sleeve");
    if (sleeve) {
      let sleeveUrl = await helper.getImageBlobUrl(sleeve.data);
      this.$store.commit("cards/setCardSleeveUrl", sleeveUrl);
    }

    this.bindGlobalKeyEvents();
  },
};
</script>

<style scoped>
.background-image {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 48px);
  margin-top: 48px;
  opacity: 1;

  background-size: cover;
  background-position: center;

  /* transition: all 1s 0.5s linear, background-size 0s linear; */
  transition: opacity 2s;
}

.background-image.fadeOut {
  opacity: 0;
}
</style>

<style>
@font-face {
  font-family: "Beleren";
  src: url("/assets/Beleren.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Planeswalker";
  src: url("/assets/Planeswalker.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.card-drop:not(.card-container) {
  display: none;
}

.card-drop {
  position: relative;
  z-index: 0;
}

.card {
  position: absolute;
  z-index: 1;
}

.card-drop.visible {
  display: unset;
  z-index: 100;
}

.v-messages {
  display: none;
}
</style>