<template>
  <v-dialog v-model="value" dark @click:outside="close" max-width="120vh" content-class="card-detail-dialog">
    <v-card>
        <v-container>
          <v-row>
            <v-col class="image-column">
              <div class="counter-container">
                <v-chip color="success" small class="counter" v-for="entry of Object.entries(cardData.counters).filter(c => !!+c[1])" :key="entry[0]">
                    {{ entry[1] }} X {{ entry[0] }}
                </v-chip>
              </div>
              <img class="card-detail-image" :src="cardImageUrl" />
            </v-col>
            <v-col class="details-column">
              <span class="headline">{{ cardName }}</span>
              <v-row>
                <v-col>
                  <v-row>
                    <v-col>
                      <v-text-field
                        label="Power"
                        outlined
                        dense
                        v-model="cardData.basePower"
                      ></v-text-field>
                    </v-col>
                    <v-col>
                      <v-text-field
                        label="Toughness"
                        outlined
                        dense
                        v-model="cardData.baseToughness"
                      ></v-text-field>
                    </v-col>
                    <v-col>
                      <v-text-field
                        label="Counters"
                        outlined
                        dense
                        v-model="cardData.counters['']"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="card-option-toggles">
                      <v-switch
                        v-if="cardData.isFlippableCard"
                        label="Flipped"
                        v-model="cardData.isFlipped"
                      />
                      <v-switch
                        v-if="cardData.isTurnableCard"
                        label="Rotated"
                        v-model="cardData.isRotated"
                      />
                      <v-switch
                        v-if="cardData.isMeldableCard"
                        label="Melded"
                        v-model="cardData.isMelded"
                      />
                      <v-switch label="Visible" v-model="cardData.isVisible" />
                    </v-col>
                    <v-col class="card-option-actions">
                      <v-btn block @click="addPowerCounter"
                        >Add +1/+1 Counter</v-btn
                      >
                      <v-btn
                        :disabled="cardData.counters < 1"
                        block
                        @click="removePowerCounter"
                        >Remove +1/+1 Counter</v-btn
                      >

                      <!-- <v-select outlined dense label="Move Card To..."
                          :items="['graveyard', 'exile', 'hand', 'deck-bottom', 'deck-top']">
                          </v-select> -->
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              <v-row>
                <v-col class="card-rulings">
                  <span class="headline">Card Rulings:</span>
                  <ul v-if="cardRulings.length && cardData.isVisible">
                    <li v-for="(rule, i) in cardRulings" :key="i">
                      {{ rule.comment }}
                    </li>
                  </ul>
                  <div v-else-if="!cardData.isVisible" class="no-rules">
                    Card is hidden
                  </div>
                  <div v-else class="no-rules">No Rulings</div>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      cardRulings: []
    };
  },
  props: ["value", "cardData"],
  watch: {
    value(newVal) {
      if(newVal && !this.cardRulings.length) {
        this.loadCardRulings();
      }
    }
  },
  methods: {
    open() {
      this.$emit("input", true);
    },
    close() {
      this.$emit("input", false);
    },
    async loadCardRulings() {
        if(!this.card.rulings_uri) { return; }

        let response = await axios.get(this.card.rulings_uri);
        if(response && response.status < 400) {
            let rulingsData = response.data;
            this.cardRulings = rulingsData.data || [];
        }
    },
     addCounter() {
            this.cardData.counters[""]++;
        },
        removeCounter() {
            if(this.cardData.counters[""] > 0) {
                this.cardData.counters[""]--;
            }
        },
        addPower() {
            this.cardData.basePower ? this.cardData.basePower++ : this.cardData.basePower = 1;
        },
        removePower() {
            if(this.cardData.basePower > 0) {
                this.cardData.basePower--;
            }
        },
        addToughness() {
            this.cardData.baseToughness ? this.cardData.baseToughness++ : this.cardData.baseToughness = 1;
        },
        removeToughness() {
            if(this.cardData.baseToughness > 0) {
                this.cardData.baseToughness--;
            }
        },
        addPowerCounter() {
            if(this.cardData.counters["-1/-1"]) {
                this.cardData.counters["-1/-1"]--;
            } else {
                this.cardData.counters["+1/+1"]++;
            }
        },
        removePowerCounter() {
            if(this.cardData.counters["+1/+1"]) {
                this.cardData.counters["+1/+1"]--;
            } else {
                this.cardData.counters["-1/-1"]++;
            }
        },
  },
  computed: {
    data() {
      return this.cardData.data ? this.cardData.data : {};
    },
    card() {
      return this.data.card ? this.data.card : {};
    },
    cardImageUrl() {
      // Hidden card - Sleeve or default image
      if (!this.cardData.isVisible) {
        return this.$store.getters["cards/sleeveImageUrl"];
      }

      // IF it's a meldable card, and melded...
      if (this.cardData.isMelded)
        return this.cardData.data.melded.image_uris.large;

      // If it's a non-flippable card, show the large face
      if (!this.cardData.isFlippableCard) return this.card.image_uris.large;

      // If it's a flip pable card, decide which side to show
      return this.cardData.isFlipped
        ? this.card.card_faces[1].image_uris.large
        : this.card.card_faces[0].image_uris.large;
    },
    isMelded() {
      return this.cardData.isMelded;
    },
    cardName() {
      return this.cardData.cardName;
    },
  }
};
</script>

<style scoped>
.content-container {
  padding-left: 0;
  padding-right: 0;
}
.image-column {
  flex-grow: unset;
  height: 60vh;
  position: relative;
}
.details-column {
  height: 60vh;
  max-height: 60vh;
  overflow: auto;
  margin-right: 12px;
}
.card-detail-image {
  height: calc(60vh - 24px);
  border-radius: 2vh;
  margin-left: 12px;
  border: 2px solid #eee;
}
.card-option-actions .v-btn + .v-btn {
  margin-top: 10px;
}

.counter-container {
    position:absolute;
    bottom: 28vh;
    right: 6vh;

    display: flex;
    flex-direction: column;
}

.counter {

    text-shadow: 1px 1px 2px black;

    flex: 0;

    justify-content: center;
    align-items: center;
}

.counter + .counter {
    margin-top: 5px;
}
</style>

<style>
.v-dialog.card-detail-dialog {
  align-self: flex-start;
}
</style>