<template>
  <v-dialog v-model="$store.state.helpOpen" dark persistent max-width="800px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn class="help-btn" icon dark v-bind="attrs" v-on="on" @click="open">
        <v-icon>mdi-help-circle-outline</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Help - Shortcuts</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="6">
              <h2>General Game Hotkeys</h2>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">
                        Action
                      </th>
                      <th class="text-left">
                        Key
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in gameHotkeys"
                      :key="item.action"
                    >
                      <td>{{ item.action }}</td>
                      <td>{{ item.key }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>

              <h2 class="mt-6">Hand Hotkeys</h2>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">
                        Action
                      </th>
                      <th class="text-left">
                        Key
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in handHotkeys"
                      :key="item.action"
                    >
                      <td>{{ item.action }}</td>
                      <td>{{ item.key }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>

            </v-col>
            <v-col cols="6">

              <h2>Card Hotkeys</h2>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">
                        Action
                      </th>
                      <th class="text-left">
                        Key
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in cardHotkeys"
                      :key="item.action"
                    >
                      <td>{{ item.action }}</td>
                      <td>{{ item.key }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" @click="close">Close</v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
        gameHotkeys: [
          { action: "Open Help Dialog", key: "?" },
          { action: "Untap All Cards", key: "Alt + u" },
          { action: "Shuffle Deck", key: "Alt + s" },
          { action: "Start Next Turn", key: "Alt + n" },
        ],
        handHotkeys: [
          { action: "Mulligan (discard hand, draw 7)", key: "m" },
          { action: "Draw a card", key: "d" },
          { action: "Toggle Visiblity of Cards in Hand", key: "v" },
        ],
        cardHotkeys: [
          { action: "Add/Remove generic counter", key: "c / C" },
          { action: "Up/Subtract Power", key: "p / P" },
          { action: "Up/Subtract Toughness", key: "d / D" },
          { action: "Add/Remove +1/+1 or -1/-1", key: "+ / -" },
          { action: "Tap/Untap Card", key: "t" },
          { action: "Flip/Transform/Meld Card", key: "f" },
          { action: "Toggle Visiblity", key: "v" },
          { action: "Open Detail Window", key: "<space bar>" },
        ]
    };
  },
  methods: {
    close() {
        this.$store.state.helpOpen = false;
    },
    open() {
      this.$store.state.helpOpen = true;
    }
  },
  computed: {},
};
</script>

<style scoped>
.help-btn {
  margin-right: 10px;
}
</style>