<template>
    <v-dialog
      :value="isLoading"
      hide-overlay
      persistent
      dark
      width="500"
    >
      <v-card
        dark
      >
        <v-card-text>
          Loading...
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
</template>

<script>
export default {
    computed: {
        isLoading() {
            return this.$store.getters['isLoading'];
        }
    }
};
</script>

<style scoped>

</style>