<template>
  <v-dialog v-model="isOpen" dark persistent max-width="600px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="primary" dark v-bind="attrs" v-on="on">
        <v-icon @click="isOpen = true" left>fa-download</v-icon>
        Load Deck
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Load Deck</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field v-model="deckUrl" label="TappedOut Deck URL" :hide-details="true" required @change="setDeckName"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-input>
                  <v-text-field v-model="deckName" label="Deck Name (for reference)" :hide-details="true" required></v-text-field>
                <template slot="append">

                    <v-btn color="primary" @click="loadDeck()">Load</v-btn>
                  </template>
              </v-input>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
                <div class="history" v-if="localStoredDecks.length">
                <div class="mb-2 mt-2">Previously Entered:</div>
                <v-input dense v-for="deck in localStoredDecks" :key="deck.name" :hide-details="false">
                  <v-btn small block @click="loadDeck(deck)">{{ deck.name }}</v-btn>
                  <template slot="append">
                    <v-btn class="remove-btn" icon small color="error">
                      <v-icon @click="removeDeck(deck)">mdi-close</v-icon>
                    </v-btn>
                  </template>
                </v-input>
              </div>
              </v-col>
            </v-row>
        </v-container>
        <small
          >*Currently only supports TappedOut.net deck urls - make sure the deck
          is set to public</small
        >
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" @click="isOpen = false">Cancel</v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import helper from '../../helpers/helper';
export default {
  data() {
    return {
        isOpen: true,
        deckUrl: "",
        deckName: "",
        storedDecks: []
    };
  },
  watch: {
    isOpen(newValue) {
      if(newValue) {
        this.loadStoredDecks();
      }
    }
  },
  methods: {
    close() {
        this.isOpen = false;
    },
    async loadDeck(deck) {

      if(deck) {
        this.deckUrl = deck.url;
        this.deckName = deck.name;
      } else {
        deck = { name: this.deckName, url: this.deckUrl };
        helper.saveDeck(deck);
      }

      if (!this.deckUrl) {
        alert("No Deck Url"); return;
      }

      if(!this.deckName) {
        alert("No Deck Name"); return;
      }

      this.$store.dispatch("cards/getDeckFromApi", deck).then(() => this.loadStoredDecks());

      if(deck.theme) {
        helper.loadDeckTheme(deck, this.$store);
      }

      if(!deck.theme || (deck.theme && !deck.theme.sleeve)) {
        let sleeve = helper.getStoredData("sleeve");
        if(sleeve) {
          let sleeveUrl = await helper.getImageBlobUrl(sleeve.data);
          this.$store.commit('cards/setCardSleeveUrl', sleeveUrl);
        } else {
          this.$store.commit('cards/setCardSleeveUrl', '');
        }
      }

      if(!deck.theme || (deck.theme && !deck.theme.background)) {
        let background = helper.getStoredData("background");
        if(background) {
          let bgUrl = await helper.getImageBlobUrl(background.data);
          this.$store.commit('setPlaymatUrl', bgUrl);
        } else {
          this.$store.commit('setPlaymatUrl', '');
        }
      }

      this.close();
    },
    removeDeck(deck) {
      helper.removeDeck(deck);
      this.loadStoredDecks();
    },
    loadStoredDecks() {
      this.storedDecks = helper.getStoredDecks();
    },
    setDeckName(deckUrl) {
      this.deckName = deckUrl && deckUrl.split("/").filter(p => !!p).slice(-1)[0] || "";
    }
  },
  computed: {
    localStoredDecks() {
      let decks = this.storedDecks;
      return decks.sort((a,b) => a.name.localeCompare(b.name));
    },
  },
  mounted() {
    this.loadStoredDecks();
  }
};
</script>

<style scoped>
.remove-btn {
  position: relative;
  top: -4px;
}
</style>