<template>
  <v-dialog v-model="isOpen" dark persistent max-width="600px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn @click="isOpen = true" v-bind="attrs" v-on="on" color="secondary">
        <v-icon left>fa-cog</v-icon>
        Settings
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Settings</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col>
              <v-switch color="primary" :value="isBigBoard" @change="setBigBoard" label="Enable Large Board" />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
                <v-file-input
                  prepend-icon="mdi-image-edit"
                  accept="image/*"
                  label="General Custom Background Image"
                  :hide-details="true"
                  @change="setWallpaper"
                  :placeholder="wallpaper"
                >
                
                <template slot="append">
                  <v-btn v-if="wallpaper" @click.stop="removeWallpaper" color="error">
                    <v-icon left>mdi-close</v-icon>
                    Clear
                  </v-btn>
                </template>
                
                </v-file-input>
            </v-col>
            <v-col cols="12">
              <v-file-input
                prepend-icon="mdi-cards"
                accept="image/*"
                label="General Custom Card Sleeve Image"
                :hide-details="true"
                @change="setSleeve"
                :placeholder="sleeve"
              >
              
              <template slot="append">
                  <v-btn v-if="sleeve" @click.stop="removeSleeve" color="error">
                    <v-icon left>mdi-close</v-icon>
                    Clear
                  </v-btn>
                </template>
              
              </v-file-input>
            </v-col>
          </v-row>
        
        <v-row v-if="loadedDeck">
          <span class="title mt-10">'{{ loadedDeck.name }}' Deck Theme</span>
          <v-col cols="12">
                <v-file-input
                  prepend-icon="mdi-image-edit"
                  accept="image/*"
                  label="Deck Themed Wallpaper"
                  :hide-details="true"
                  @change="setDeckThemeWallpaper"
                  :placeholder="deckThemeWallpaper"
                >
                
                <template slot="append">
                  <v-btn v-if="deckThemeWallpaper" @click.stop="removeDeckThemeWallpaper" color="error">
                    <v-icon left>mdi-close</v-icon>
                    Clear
                  </v-btn>
                </template>
                
                </v-file-input>
            </v-col>
          <v-col cols="12">
            <v-file-input
                prepend-icon="mdi-cards"
                accept="image/*"
                label="Deck Themed Sleeves"
                @change="setDeckThemeSleeve"
                :hide-details="true"
                :placeholder="deckThemeSleeve"
              >
              
              <template slot="append">
                  <v-btn v-if="deckThemeSleeve" @click.stop="removeDeckThemeSleeve" color="error">
                    <v-icon left>mdi-close</v-icon>
                    Clear
                  </v-btn>
                </template>
              
              </v-file-input>
          </v-col>
        </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" @click="close">Close</v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import helper from "./../../helpers/helper";

export default {
  data() {
    return {
      wallpaper: null,
      sleeve: null,

      deckThemeWallpaper: null,
      deckThemeSleeve: null,

      isOpen: false,
    };
  },
  watch: {

    isOpen(newVal) {
      if(newVal) {
        this.getDeckThemeWallpaper();
        this.getDeckThemeSleeve();
      }
    }

  },
  methods: {
    close() {
      this.isOpen = false;
    },
    save() {
      // Save settings
      this.close();
    },
    async setWallpaper(file) {

      if(!file) { return; }
      
      await helper.saveImageFile(file, "background", window.innerWidth, window.innerHeight);
      
      this.wallpaper = file.name;

      if(!this.deckThemeWallpaper) {
        let playmatUrl = await this.getWallpaperUrl();
        this.$store.commit('setPlaymatUrl', playmatUrl);
      }
    },
    async getWallpaperUrl(){
      // Load Background Image on Application Start
      let playmat = helper.getStoredData("background");
      if(playmat) {
        return helper.getImageBlobUrl(playmat.data);
      }
    },
    getCurrentWallpaper() {
      let background = helper.getStoredData("background");
      if(background) {
        this.wallpaper = background.name;
      }
    },
    removeWallpaper() {
      this.wallpaper = null;
      localStorage.removeItem("background");

      if(!this.deckThemeWallpaper) {
        this.$store.commit('setPlaymatUrl', '');
      }
    },
    async setSleeve(file) {

      if(!file) { return; }
      
      await helper.saveImageFile(file, "sleeve", 488, 680, true);
      
      this.sleeve = file.name;

      if(!this.deckThemeSleeve){
        let sleeveUrl = await this.getSleeveUrl();
        this.$store.commit('cards/setCardSleeveUrl', sleeveUrl);
      }
    },
    async getSleeveUrl() {
       // Load Sleeve Image on Application Start
      let sleeve = helper.getStoredData("sleeve");
      if(sleeve) {
        return helper.getImageBlobUrl(sleeve.data);
      }
    },
    getCurrentSleeve() {
      let sleeve = helper.getStoredData("sleeve");
      if(sleeve) {
        this.sleeve = sleeve.name;
      }
    },
    removeSleeve() {
      this.sleeve = null;
      localStorage.removeItem("sleeve");

      if(!this.deckThemeSleeve) {
        this.$store.commit('cards/setCardSleeveUrl', '');
      }
    },


    /**
     * DECK THEME OPTIONS
     */


    async setDeckThemeWallpaper(file) {

      if(!file) { return; }

      this.deckThemeWallpaper = file.name;

      let processed = await helper.processImageToDataUrl(file, window.innerWidth, window.innerHeight);

      let deck = this.loadedDeck;
      if(deck.theme) {
        deck.theme.background = { name: file.name, data: processed };
      } else {
        deck.theme = { background: { name: file.name, data: processed } };
      }

      helper.saveDeck(deck);

      let imgUrl = await helper.getImageBlobUrl(processed);
      this.$store.commit('setPlaymatUrl', imgUrl);
    },
    async removeDeckThemeWallpaper() {
      this.deckThemeWallpaper = '';

      let deck = this.loadedDeck;

      if(!deck.theme) { return; }

      delete deck.theme.background;
      if(Object.keys(deck.theme).length === 0) {
        delete deck.theme;
      }
      helper.saveDeck(deck);
      this.$store.commit('cards/setDeck', deck);

      let wallpaperUrl = await this.getWallpaperUrl();
      this.$store.commit('setPlaymatUrl', wallpaperUrl);
    },
    getDeckThemeWallpaper() {
      if(this.loadedDeck && this.loadedDeck.theme) {
        if(this.loadedDeck.theme.background) {
          this.deckThemeWallpaper = this.loadedDeck.theme.background.name;
        }
      } else {
        this.deckThemeWallpaper = '';
      }
    },
    async setDeckThemeSleeve(file) {

      if(!file) { return; }

      this.deckThemeSleeve = file.name;

      let processed = await helper.processImageToDataUrl(file, 488, 680, true);

      let deck = this.loadedDeck;
      if(deck.theme) {
        deck.theme.sleeve = { name: file.name, data: processed };
      } else {
        deck.theme = { sleeve: { name: file.name, data: processed } };
      }

      helper.saveDeck(deck);

      let imgUrl = await helper.getImageBlobUrl(processed);
      this.$store.commit('cards/setCardSleeveUrl', imgUrl);
    },
    async removeDeckThemeSleeve() {
      this.deckThemeSleeve = '';

      let deck = this.loadedDeck;

      if(!deck.theme) { return; }

      delete deck.theme.sleeve;
      if(Object.keys(deck.theme).length === 0) {
        delete deck.theme;
      }
      helper.saveDeck(deck);
      this.$store.commit('cards/setDeck', deck);

      // Revert to current General Sleeve
      let sleeveUrl = await this.getSleeveUrl();
      this.$store.commit('cards/setCardSleeveUrl', sleeveUrl);
    },
    getDeckThemeSleeve() {
      if(this.loadedDeck && this.loadedDeck.theme) {
        if(this.loadedDeck.theme.sleeve) {
          this.deckThemeSleeve = this.loadedDeck.theme.sleeve.name;
        }
      } else {
        this.deckThemeSleeve = '';
      }
    },


    /**
     * BOARD SIZE
     */
    setBigBoard(boolean) {
      this.$store.commit('cards/setBoardSize', boolean ? "large" : "normal");
    }

  },
  computed: {
    isThemeInSync() {
      return !!this.loadedDeck.theme;
    },
    loadedDeck() {
      return this.$store.getters['cards/currentLoadedDeck'];
    },
    isBigBoard() {
      return this.$store.state.cards.boardSize == 'normal' ? false : true; 
    }
  },
  mounted() {
    this.getCurrentWallpaper();
    this.getCurrentSleeve();

    this.getDeckThemeWallpaper();
    this.getDeckThemeSleeve();
  }
};
</script>

<style scoped>
</style>